---
import Hddreportimg from "@components/hddreports/Hddreportimg.astro";
import Container from "@components/ui/container.astro";
import Sectionhead from "@components/ui/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import HddSearchWidget from "@components/hddreports/hddSearchWidget.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
dayjs.extend(localizedFormat);

// Get HDD Report Collection
const hddreports = await getCollection("hddreports");

// Sort content entries by publication date
hddreports.sort(function (a, b) { return b.data.reportDate.valueOf() - a.data.reportDate.valueOf(); });

//Consts
const PDFTRUE = "bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300";
const PDFFALSE = "bg-red-100 text-red-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300";

---

<Layout title="HDD Wipe Reports">
  <Container>

    <Sectionhead>
      <Fragment slot="title">HDD Wipe Reports</Fragment>
      <Fragment slot="desc">Drives Wiped using nwipe v35</Fragment>
    </Sectionhead>

    <br>
    
    <HddSearchWidget />

    <div class="">
      { hddreports.map((post) => (
        <>
        <div class="divider" />
        <div class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"> 
          <table>
            <tr><td> 
              <div class="hero-content pd-2 py-2 mt-8  text-xl font-bold inline flex-col md:flex-row text-white fill-white">
                {post.data.isSSD === true ? <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-device-ssd" viewBox="0 0 16 16"> <path d="M4.75 4a.75.75 0 0 0-.75.75v3.5c0 .414.336.75.75.75h6.5a.75.75 0 0 0 .75-.75v-3.5a.75.75 0 0 0-.75-.75zM5 8V5h6v3zm0-5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m7 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4.5 11a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1m7 0a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/> <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm11 12V2a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1v-2a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2a1 1 0 0 0 1-1m-7.25 1v-2H5v2zm1.75 0v-2h-.75v2zm1.75 0v-2H8.5v2zM11 13h-.75v2H11z"/> </svg> : <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-device-hdd" viewBox="0 0 16 16"> <path d="M12 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m-7.5.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1M5 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M8 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/> <path d="M12 7a4 4 0 0 1-3.937 4c-.537.813-1.02 1.515-1.181 1.677a1.102 1.102 0 0 1-1.56-1.559c.1-.098.396-.314.795-.588A4 4 0 0 1 8 3a4 4 0 0 1 4 4m-1 0a3 3 0 1 0-3.891 2.865c.667-.44 1.396-.91 1.955-1.268.224-.144.483.115.34.34l-.62.96A3.001 3.001 0 0 0 11 7"/> <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/> </svg> } </div>
            </td><td>
              <div class="hero-content flex-col md:flex-row">
                <div class="grow w-full">
                  <h1 class="text-xl font-bold">
                    {post.data.make} {post.data.model} ~ S/N: {post.data.serial}<br />
                  </h1>
                  <h2 class="text-l font-bold">
                    <div class="py-1 text-1xl">
                      {post.data.capacity} - {post.data.size} {post.data.type}
                    </div>
                  </h2>
                  <p class="py-1 text-1xl">Manufacture Date: <b>{dayjs(post.data.manuDate).format("ll") === "Jan 1, 1955" ? "Not Available" : dayjs(post.data.manuDate).format("ll")}</b></p>
                  <p class="py-1 text-1xl">Report Date: {dayjs(post.data.reportDate).format("ll")}</p>
                  <div class="card-actions justify-start">
                  {post.data.pdf === "none" ? <div class={PDFFALSE}>No Report Available</div> : <a target="_blank" href={post.data.pdf}><div class={PDFTRUE}>View PDF Report</div></a>}
                  </div>
                </div>
              </div>
            </td></tr>
          </table>
        </div>
        </>
      ))}
    </div>
    </Container>
</Layout>