---
import BaseSSR from '@layouts/BaseSSR.astro';
import Container from '@components/ui/container.astro';
import { PI, ghostClient } from '@lib/ghost';
import GhostPowered from '@components/crumbs/GhostPowered.astro';
import Sectionhead from '@components/ui/sectionhead.astro';
import OurBlogAuthors from '@components/blog/OurBlogAuthors.astro';
import GhostPost from '@components/blog/GhostPost.astro';
import BackToBlog from '@components/crumbs/BackToBlog.astro';
import RssIcon from '@components/crumbs/RssIcon.astro';
import TagIndex from '@components/blog/TagIndex.astro';

const { slug } = Astro.params;
// IF SLUG DOSNT EXIST THEN THROW ERROR
if(slug === undefined){ throw new Error('Slug is required'); }
// GET TAG
const ghostTag = await ghostClient.tags.read({
        slug: `${slug}`, include: `count.posts` })
// IF NO TAG AVAILABLE THEN REDIRECT TO 404
if(ghostTag === undefined) { return Astro.redirect('/404'); }

const posts = await ghostClient.posts.browse({
  filter: `tag:${ghostTag.slug}`,
  limit: 'all', include: PI });

---
<BaseSSR title="tags">
    <Container>
        
      <GhostPowered />
      
      <Sectionhead>
        <Fragment slot="title"> Blog <RssIcon />
            <br> Tag - <div class="text-gray-400 inline"><i class="bi bi-tag"/>{ghostTag.name}</div></Fragment>
        <Fragment slot="desc">{ghostTag.description && (`"` + ghostTag.description + `" - `)}Total Posts: {ghostTag.count.posts}</Fragment>
      </Sectionhead>
      <BackToBlog />

      <main class="mt-5 max-w-5xl mx-auto">

        <OurBlogAuthors />
        <TagIndex />

        <ul class="grid gap-16 ">
            { posts.map((post) => <GhostPost post={post} />) }
          </ul>
        </main>
        
    </Container>
</BaseSSR>