---
import SupportOurWork from '@components/crumbs/SupportOurWork.astro';
import { ghostClient } from '../../lib/ghost';
import Layout from '@layouts/Layout.astro';
import Container from '@components/ui/container.astro';
import { getEntry } from 'astro:content';

export async function getStaticPaths() {
    const posts = await ghostClient.posts
        .browse({
            limit: 'all', include: 'authors',
        })
        .catch((err) => {
            console.error(err);
        });

    return posts.map((post) => {
        return {
            params: {
                slug: post.slug,
            },
            props: {
                post: post,
            },
        };
    });
}

const { post } = Astro.props;
const { data: authorData } = await getEntry("team", post.primary_author.slug);
const { title, html, published_at } = post;

const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};

const formattedPublishDate = new Date(published_at).toLocaleDateString(
	"en-US",
	dateOptions
);
   
---
<Layout title={title}>
    <Container>
      <div class="mx-auto max-w-5xl mt-14">
        <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight"> 
          {title}
        </h1>
        <div class="flex gap-2 mt-3 items-center flex-wrap md:flex-nowrap">
          <a href={authorData.profileurl} class="inline-flex pr-2 mb-2  focus:outline-none rounded-full border focus:z-10 focus:ring-4  focus:ring-gray-700 bg-slate-800 text-slate-300 border-gray-600 hover:bg-slate-600">
            <img class="w-7 h-7 me-1 rounded-full" src={authorData.avatar} alt= {authorData.name}>
            <span class="text-gray-400"> {authorData.name}</span>
          </a>
          <span class="text-gray-400">•</span>
          <time class="text-gray-400" datetime={published_at}>
            {formattedPublishDate}
          </time>
        </div>
      <SupportOurWork />
      </div>
  
      <div class="mx-auto prose prose-lg mt-6 max-w-5xl">
        <!-- CONTENT -->
        <Fragment set:html={html} />
      </div>
      
      <!--BackToBlog /-->
  
    </Container>
</Layout>