---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

const publishedTeamMembers = await getCollection("team", ({ data }) => { return !data.draft && data.publishDate < new Date(); });
---
<Layout title="About">
  <Container>
    <Sectionhead><Fragment slot="title">About</Fragment>
      <Fragment slot="desc">We are a small passionate team.</Fragment>
    </Sectionhead>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-white">
        Creating a NEW type of IT Support.
      </h2>
      <p class="text-lg leading-relaxed text-slate-300">
        We are a small team of one at the moment,  But with the goal to change the way businesses look at their hardware and software they use to run their day to day business.  The Open Source Alternative!  Save money by getting rid of the Licensing fees!
      </p>
    </div>
    <div class="grid md:grid-cols-3 items-center gap-10 mx-auto max-w-4xl mt-12">
      {publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group bg-slate-800 rounded-badge hover:-translate-y-1 shadow-xl shadow-slate-950">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar}
                alt={teamMemberEntry.data.name}
                sizes="(max-width: 800px) 100vw, 400px"
                width={400} height={400}
                class="w-full rounded-md transition bg-white object-cover object-center aspect-square"/>
            </div>
            <div class="my-5 text-center">
              <h2 class="text-lg text-gray-200">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-300">{teamMemberEntry.data.title}</h3>
              <div class="mt-3">
                {teamMemberEntry.data.profileurl && <a href={teamMemberEntry.data.profileurl} class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                <i class="bi bi-person" /> Portfolio</a>}
              </div>
            </div>
          </div>
        ))}
    </div>
  </Container>
</Layout>
