---
import { getCollection } from "astro:content";

// Get reviews Collection
const reviewsCollection = await getCollection("reviews");

const lastReviews = reviewsCollection.slice(0,3);
---

{lastReviews.map((item)  => (
    <article class="max-w-[75%] mt-5 ml-10">
        <div class="flex items-center mb-4">
            <img class="w-10 h-10 me-4 rounded-full" src={item.data.avatar} alt={item.data.name}>
            <div class="font-medium dark:text-white">
                <p>{item.data.name} <span class="block text-sm text-gray-500 dark:text-gray-400">Posted {item.data.postDate}</span></p>
            </div>
        </div>
        <div class="flex items-center mb-1 space-x-1 rtl:space-x-reverse">
            <h3 class="text-sm font-semibold text-gray-900 dark:text-white">{item.data.title}</h3>
        </div>
        <p class="mb-2 text-gray-500 dark:text-gray-400">{item.data.body}</p>
        {item.data.body2 && (
            <p class="mb-3 text-gray-500 dark:text-gray-400">{item.data.body2}</p>
        )}
    </article>
))}

